body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    background-color: rgb(255, 255, 255);

}
/* страница авторизации */

input {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    width: 30%;
}
button {
    appearance:none;
    -webkit-appearance:none;

    padding:10px;
    border:none;
    background-color:#7dacf3;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:30%;
    margin-top: 30px;
}

.form_content {
    margin-left: 150px;
    padding-top: 200px;
}

.promo__image {
    position: relative;
    top: -500px;
    left: 830px;
    width: 620px;
    height: 780px;
}

/*главная страничка сайта */

.page-header {
    width: 1200px;
    margin-bottom: 40px;
    padding: 35px 90px;


}
.site-navigation-item {
    display: inline-block;
    margin-right: 200px;
    padding-left: 50px;



}

.site-navigation-item a {
    font-size: 20 px;
    line-height: 20px;
    color: #363131;

    text-transform: uppercase;
    text-decoration: none;

}

.site-navigation-item a.active {
    color: #4ea3dc;
}

.about h1 {
    font-size: 52px;
    line-height: 63px;
    font-style: bold;
    margin-left: 60px;
    margin-top: 200px;

}

.about p {
    font-size: 23px;
    width: 50%;
    line-height: 30px;
    margin-left: 60px;


}

.about_image {
    position: absolute;
    width: 408.65px;
    height: 407px;
    left: 1000px;
    top: 180px;


}
.news h2 {
    font-size: 40px;
    line-height: 66px;
    text-align: center;
    margin-top: 300px;

}






.news-list h3 {
    font-size: 24px;
    line-height: 32px;
}

.news-list a {
    font-size: 18px;
    line-height: 24px;
    color: #49697e;
    text-decoration: none;

}

.news-item-1 {

    width: 393px;
    height: 500.99px;
    left: 100px;
    top: 930px;
    margin-bottom: 100px;
}

.news-item-2 {
    position: absolute;
    width: 393px;
    height: 501px;
    left: 560px;
    top: 868px;

}

.news-item-3 {
    position: absolute;
    width: 393px;
    height: 501px;
    left: 1000px;
    top: 868px;
}

.photo {
    background-image: url(image/statue.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height: 600px;
    margin-bottom: 100px;
    background-size: cover;


}

.photo p {

    font-size: 52px;
    line-height: 40px;
    font-style: bold;
    color:rgb(209, 211, 211);
    padding-top: 250px;
    padding-left: 400px;
;

}
.main-footer {
    font-size: 20 px;
    line-height: 20px;
    background-color: #212529;
    text-transform: uppercase;
    text-decoration: none;
    height: 50px;
}

.main-footer p {
    font-size: 15px;
    font-style: bold;
    color:#d1d1d1;
    text-align: center;
}
.footer-navigation-item {
    display: inline;
    padding-left: 20%;
    margin-top: 20px;
}
.footer-navigation-item a {

    font-size: 20 px;
    line-height: 20px;
    color: #d1d1d1;
    text-transform: uppercase;
    text-decoration: none;

}

/* Страница новостей */
.prewie h1 {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 50px;
    color:#7dacf3;
}

.description-main {
    font-size: 20px;
    font-style: italic;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;

}

.alla {
    margin-left: 30%;
    margin-right: 25%;
}

.description {
    font-size: 20px;
    width: 80%;
    margin-top: 20px;
    margin-right:10%;
    margin-left: 10%;
    line-height: 30px;

}


.references {
    font-size: 25 px;
    line-height: 20px;
    text-align:center;
    margin-top: 50px;

}

.references a {
    color:#7dacf3;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 50px;
}

textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(149, 187, 222);
    width: 35%;
    height: 50px;

}

hr {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
    border: 0;
    height: 1px;
    margin: 22px 0 22px 0;box-sizing:
        content-box;
    display: block;
}

.princ {
    margin-left: 20%;
    margin-right: 20%;
}
.image-news3 {

    margin-left: 35%;
    margin-right: 20%;
}


.comment-context {
    border: 2px solid rgb(143, 178, 249);
}


/* Путешествия */

ul {
    list-style: none;
}
.travel-name {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 70px;
}

.feautered {
    background-color: #3d3e3f;
    color: #d1d1d1;
    width: 735px;
    height: 903px;
    margin-left: -80px;
}

.feautered h2 {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
}

.topics h3 {
    margin-left: 245px;

}

.topics a {
    color: #d1d1d1;
    font-style: medium;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
}



.topics p {
    float: right;
    margin-right: 150px;
}



.topics p {
    font-style: light;
    font-size: 15px;
    line-height: 20px;
    width: 300px;

    padding-bottom: 50px;
}

.topics img {
    margin-top: -60px;
}

.richard {
    padding-top: 50px;
}

.trip {
    background-image: url(image/mountain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 705px;
    height: 903px;
    left: 745px;
    top: 260px;
    border-radius: 3px;
}

.trip h2 {
    text-align: center;
    margin-top: 400px;
    font-weight: 800;

}
.trip a {
    color: #f5f2f2;
    font-style: bold;
    font-size: 25px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

.trip p {
    font-style: light;
    font-size: 18px;
    line-height: 20px;
    color:#d1d1d1;
    text-align: center;
}

.big-world h2 {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
}
.world li {
    display: inline-block;
    padding-left: 3px;
    margin-bottom: 70px;
    padding-top: 50px;

}


.world h3 {

    width: 290px;
    height: 50px;
    text-align: left;
    margin-bottom: 70px;
}

.world a {
    text-decoration: none;
    color:#3d3e3f;
}

.world p {
    width: 290px;
    height: 40px;
    text-align: left;
    padding-top: 27px;
}

/* Искусство  */

.art-main {
    background-image: url("image/art_main.jpg");
    width: 1240px;
    height: 500px;
    margin: auto;
    background-repeat: no-repeat;

    color:#d1d1d1;
    text-align: center;
    padding-top: 200px;
}

.about-art {
    margin-top: 100px;
}

.about-art {
    margin-left: 30%;
}

.about-art h2 {
    margin-left: 45px;
    padding-bottom: 20px;
    
}
.about-art li {
    padding-bottom: 30px;
    color:#8b8989;
    width: 450px;
}

.arts h2 {
    text-align: center;
    margin-top: 50px;
}

.arts-topics li {
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 5px;
    margin-top: 15px;
}
.arts-topics h3 {
    width: 400px;
    text-align: left;



}
.arts-topics a {
    text-decoration: none;
    color: #3d3e3f;

}

.arts-topics p {
    width: 400px;

}
